*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg-color{
    background-color: #D7ECEB;
    color: #111C45;
}

input{
    width: 20rem;
    padding: 10px;
}
#para{
    font: 22px bold;

}

@media(max-width:640px){

    #para{
        font: 18px bold;
    
    }

    input{
        width: 15rem;
        padding: 9px;
    }
    .mt-6{
        margin-top: 80px;
    }

    

}

